body {
    text-rendering: optimizeLegibility;
}

.footer {
    border-top: 1px solid lightgray;
    color: gray;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0;
    text-align: center;
}
